@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
	--fontWhite: #cacaca;
	--fontBlack: #312f2f;
	--boxBg: rgba(20, 19, 19, 0.46);
	--blueText: #0ca8eb;
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	margin-top: 58px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--fontWhite);
	border-radius: 20px;
	width: 2px;
}

::-webkit-scrollbar-button {
	visibility: hidden;
	height: 0px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Nunito, sans-serif;
	color: var(--fontWhite);
	max-width: 100%;
	/* overflow: hidden; */
}
body {
	background-color: #020204;
}

/* HEADER */

header {
	height: 45px;
	background-color: rgba(0, 0, 0, 0.658);
	position: fixed;
	top: 0;
	backdrop-filter: blur(8px);
	z-index: 10;
	width: 100vw;
}

.navLogo {
	transition: 0.8s;
}
.navLogo:hover {
	scale: 1.1;
}

.navMobile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: inherit;
	position: sticky;
}

.navDesktop{
    display: none;
}
.navLogo {
	display: flex;
	text-decoration: none;
	margin-left: 30px;
}

.navLogoKey {
	font-size: 22px;
}
nav ul li {
	transition: 0.5s;
}
nav ul li:hover,
nav ul li a:hover {
	scale: 1.1;
	color: var(--fontWhite);
}
.burgerMenuLine {
	width: 25px;
	height: 2.5px;
	border-radius: 0.1px;
	background-color: var(--fontWhite);
	margin: 2px 0;
	z-index: 1001 !important;
}

.bmline2 {
	width: 15px;
	height: 2.5px;
}

.navMobileBurgerMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 30px;
}

.whoP{
	line-height: 23px;
}

.navActive {
	width: 300px;
	height: 450px;
	background-color: var(--fontWhite);
	z-index: 100 !important;
	position: absolute;

	right: 0;
	border-radius: 50px 0 0px 50px;
	display: none;
}

.display {
	display: block;
}

.navActiveUl {
	margin: 70px 30px;
}

.navActiveLi {
	list-style: none;
	margin: 10px 0;
}

.navActiveLi a {
	color: var(--fontBlack);
	text-decoration: none;
	font-size: 20px;
}

.navContactImg {
	margin: 60px 15px;
}

.navSocials {
	display: flex;
	justify-content: center;
}

.displayNone {
	display: none;
}

a{
	cursor: pointer;
}

.socialsAnchor {
    text-decoration: none;
    margin: 0!important;
}

/* HERO */

.hero {
	padding-top: 50px;
}

.typingAnimation {
	display: inline-block;
	opacity: 1;
	animation: blink 1s linear infinite;
	width: 6px;
	height: 40px;
	margin-left: 5px;
	background-color: #0ca8eb;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.heroText {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	align-items: center;
}

.heroHeader {
	font-size: 25px;
    font-weight: 600;
	color: var(--blueText);
	margin-bottom: 5px;
}

.heroHeaderWrapper{
    display: flex;
}

.heroSubHeader {
	font-size: 20px;
	font-weight: 500;
}

.canvasWrapper {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

canvas {
	width: 200px;
	height: 250px;
	background-color: white;
}

.heroHelper {
	display: flex;
	justify-content: center;
	margin-top: 55px;
}

/* SECTION */

.sectionHeader {
	font-size: 20px;
	text-align: center;
	font-weight: 400;
	max-width: 291px;
}

.sectionHeaderWrapper {
	display: flex;
	justify-content: center;
}

.spacing {
	height: 250px;
}

.sectionHelper {
	display: flex;
	justify-content: center;
}
/* WORK SECTION */

.workCard {
	width: 265px;
	margin: 25px 0;
}

.workCardP {
	text-align: left !important;
	margin: 6px 0;
	width: 95%;
}

.workCards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.workCardTop {
	height: 45px;
	width: auto;
	border-radius: 15px 15px 0 0;
	background-color: var(--fontWhite);
	display: flex;
	justify-content: center;
	align-items: center;
}

.workCardBody {
	height: 400px;
	border-radius: 0 0 15px 15px;
	background-color: var(--boxBg);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.cardHeader {
	color: var(--fontBlack);
	font-size: 22px;
	font-weight: 600;
}

.cardButtons {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px 0;
}

.cardButton {
	width: 160px;
	height: 28px;
	text-align: center;
	color: var(--fontBlack);
	background: var(--fontWhite);
	border-radius: 15px;
	font-size: 20px;
	cursor: pointer;
	margin: 5px 0;
	text-decoration: none;
}

.cardTech {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cardSubHeader {
	border-bottom: 1px solid #707070;
	font-size: 20px;
}

.cardUL {
	display: flex;
}

.cardLi {
	list-style: none;
}

.cardLiCol {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 5px 10px;
}

.cardP {
	text-align: center;
	margin-top: 10px;
}

/* WHO */

.whoCardTop {
	height: 45px;
	width: inherit;
	border-radius: 15px 15px 0 0;
	background-color: var(--fontWhite);
	display: flex;
	align-items: center;
}

.whoCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px 0;
	width: 280px;
	transition: width 0.8s, height 0.8s !important;
}
.whoTextSpan {
	color: #497c90;
	font-size: 9px;
	font-weight: bold;
}

.whoCardTextWrapper,
.whoCardTextWrapperClicked {
	opacity: 1;
	transition: opacity 0.5s;
}

.whoCardTextWrapperOpacity {
	opacity: 0;
	transition: opacity 0.5s;
}

.whoCardAfter {
	width: 320px;
	height: 600px;
	transition: 0.8s;
}

.whoCards {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.whoCardBody {
	width: inherit;
	height: inherit;
	background-color: var(--boxBg);
	border-radius: 0 0 15px 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: height 0.8s;
}

.whoP {
	width: 95%;
	margin: 6px 0 0 10px;
}

.whoCardHeader {
	color: var(--fontBlack);
	font-size: 25px;
	font-weight: 600;
	margin-left: 10px;
}

.whoCardLi {
	list-style-type: none;
	font-size: 16px;
	margin: 6px 5px;
}

.whoCardUL {
	margin: 10px 0;
}

.whoCardButton {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px 0;
}

.whoCardSecondary {
	width: 290px;
	height: 250px;
	background-color: var(--boxBg);
	margin: 25px 0;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.whoCardSecondaryHeader {
	font-size: 20px;
	border-bottom: 1px solid #707070;
	width: fit-content;
	margin: 25px 0 15px 0;
}

.whoCardImgWrapper {
	display: flex;
	flex-direction: column;
}

.whoRowWrapper {
	display: flex;
	justify-content: space-around;
	margin: 10px 0;
}

.whoItem {
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

/* CONTACT */

.contactCards {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contactCard {
	height: 290px;
	width: 320px;
	background-color: var(--boxBg);
	border-radius: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 25px 0;
}

.contactHeader {
	font-size: 20px;
	text-align: center;
	margin: 20px 0 10px 0;
}

.contactP {
	width: 90%;
	margin: 0 0 20px 0;
	font-size: 16px;
}

.contactSubheader {
	font-size: 20px;
	margin: 5px 0 10px 0;
}

/* .contactSocials{
    display: flex;
} */

.contactImg {
	margin: 0 10px;
	width: 40px;
}

.contactForm {
	width: 290px;
	height: 410px;
	background-color: var(--boxBg);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	margin: 25px 0;
}

.contactFormInWrapper {
	display: flex;
	flex-direction: column;
}

input {
	width: 250px;
	height: 30px;
	border-radius: 15px;
	background: var(--fontWhite);
	color: var(--fontBlack);
	padding-left: 10px;
	font-size: 17px;
	border: none;
}

input[type='button'] {
	width: 160px;
	height: 30px;
	border-radius: 15px;
	color: var(--fontBlack);
	font-size: 20px;
	margin-top: 25px;
	padding-left: 0;
	cursor: pointer;
}

textarea {
	width: 250px;
	height: 120px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 17px;
	border: none;
	resize: none;
	border-radius: 15px;
	background: var(--fontWhite);
	color: var(--fontBlack);
}

label {
	margin: 12px 0 0 10px;
	font-size: 20px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* FOOTER */
footer {
	height: 220px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: var(--boxBg);
}

.footerDesktop{
    justify-content: space-between;
    display: none;
}

.footerDesktop a {
    margin-left: 30px
}
.footerDesktop .footerWrapper {
    margin-right: 30px
}

.footerWrapper{
    display: flex;
}

.footerLine{
	width: 0.5px;
	margin-right: 20px;
	background-color: var(--fontWhite);
}

.footerLogo {
	display: flex;
	text-decoration: none;
}

.footerImg{
    width: 30px;
	height: 30px;
    margin: 0 5px;
}

.footerLogoKey {
	font-size: 20px;
}

.footerUl {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

.footerLi a {
	text-decoration: none;
	margin: 2px 10px;
    color: #818181;
}

.footerLiWrapper {
	display: flex;
}

/* Project page */

.projectCards {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.projectCard {
	width: 310px;
	margin: 0 0 70px 0;
}
.projectCardTop {
	height: 45px;
	width: inherit;
	background-color: var(--fontWhite);
	border-radius: 15px 15px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.projectCardBody {
	background-color: var(--boxBg);
	width: inherit;
	min-height: 250px;
	height: fit-content;
	border-radius: 0 0 15px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projectP {
	margin: 6px 0;
	width: 95%;
	font-size: 15px;
}

.projectHeader {
	margin: 20px 0 0 0;
}

.projectImg {
	margin: 20px 0;
	width: 100%;
}

.projectSpacing {
	height: 50px;
}

.projectSection {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projectUl {
	margin-left: -120px;
}

@media screen and (min-width: 768px) {
	.hero,
	.who,
	.work,
	.contact,
	.spacing {
		height: calc(100vh - 45px);
		position: relative;
        display: flex;
    flex-direction: column;
    justify-content: center;
	}
	.navMobile {
		display: none;
	}

	.whoCardHeader{
		font-size: 28px;
	font-weight: 600;
	}

    .contact {
        height: calc(100vh - 60px);
    }

    .workCards, .whoCards{
        padding-bottom: 40px;
    }

    main {
        scroll-snap-type: y mandatory;
        overflow-y: scroll;
        height: 100vh;
        scroll-padding-top: 35px;
        /* scroll-behavior: smooth; */
    }
    section {
        scroll-snap-align: start;
        height: 100vh;
    }
    
    .spacing {
        height: 100vh;
    }

    /* footer{
        height: 70px;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        width: 100vw;
    } */

    .footerDesktop{
        display: flex;
        height: 60px;
        flex-direction: row;
        position: absolute;
        bottom: 0;
        width: 100vw;
    }

    .footerMobile{
        display: none;
    }

	.navDesktop {
		display: flex;
		height: inherit;
		align-items: center;
		justify-content: space-between;
	}

	.navDesktopUl {
		display: flex;
        list-style: none;
        margin-right: 30px;
	}

    .navDesktopLi a {
        text-decoration: none;
        margin: 0 10px;
        color: #818181;
    }

    
	.canvasWrapper {
        margin-top: 0;
	}

	.heroWrapper {
		display: flex;
		justify-content: center;
	}
    
	.heroHelper {
        margin: 0;
		position: absolute;
		bottom: 40px;
		left: 0;
		right: 0;
		margin: auto;
	}

    .heroText{
        margin-top: 0;
        min-width: 405px;
    }

    .workCards{
        flex-direction: row;
    }
    
    .workCard{
        margin: 0 10px;
    }

    .sectionHeaderWork, .sectionHeaderWho{
        margin-bottom: 10px;
        max-width:fit-content;
    }
    
    .whoCards{
        flex-direction: row;
        justify-content: center;
    }
    
    .whoCardSecondary{
        width: 240px;
        height: 220px;
    }
    .whoCardSecondary:nth-child(2){
        margin: 5px 0 0 5px;
    }
    .whoCardSecondary:nth-child(1){
        margin: 0 0 5px 5px;
    }
    
    .whoItem{
        margin: 0 10px;
    }
    
    .whoCard{
        margin: 10px 0 10px 10px;
        height: 450px;
				width: 300px;
        transition: width 0.8s !important;
    }
    
    .whoCardAfter{
        width: 505px;
    }
    
    .whoCardTextWrapper, .whoCardTextWrapperClicked{
        height: 320px;
    }
    
    .contactCards{
        flex-direction: row;
        justify-content: center;
    }

    .contactForm{
        width: 320px;
        height: 370px;
        margin-left: 5px;
    }
    
    .contactCard{
        width: 320px;
        height: 370px;
        margin-right:5px
    }
    
    .contactSubheader{
        margin-top: 50px;
    }

    input, textarea{
        width: 280px;
    }

    .heroText {
        align-items: initial;

        
    }
    
    .heroHeader {
        font-size: 30px;
    }
    
    .heroSubHeader {
        font-size: 25px;
    }

    .sectionHelper{
        margin: 0;
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    .heroHeader{
        font-size: 35px
    }

    .heroSubHeader {
        font-size: 30px;
        line-height: 30px;
    }

    .heroText{
        min-width: 515px;
    }
		.whoCardHeader{
			font-size: 30px;
    font-weight: 600;
		}

    .sectionHeaderWork, .sectionHeaderWho{
        margin: 10px 0 20px 0;
    }

    .workCardTop{
        height: 50px;
    }

    .cardHeader{
        font-size: 25px;
    }

    .workCard:nth-child(1) .workCardBody, .workCard:nth-child(3) .workCardBody{
        height: 360px;
    }

    .workCard:nth-child(1), .workCard:nth-child(3){
        width: 250px;
    }

    .whoCard{
        margin: 0;
    }
    
}

@media screen and (min-width: 1440px) {
    .hero, .who, .work, .contact, .spacing {
        height: calc(100vh - 58px);
    }
    .heroHeader{
        font-size: 45px
    }

		.whoCardAfter{
			width: 600px;
		}

    .heroText{
        margin-right: calc(20px + 5vw);

    }

    main{
        scroll-padding-top: 20px;
    }

    .cardLi{
        font-size: 18px;
    }


    .workCard{
        width: 285px;
    }
    .heroSubHeader {
        font-size: 40px;
    font-weight: 500;
    line-height: 40px;
    }

		.whoCardHeader{
			font-size: 36px;
    font-weight: 600;
		}
    header{
        height: 58px;
    }

    .navDesktopLi a{
        font-size: 22px;
        margin: 0 17.5px;
    }

    .navLogoKey{
        font-size: 35px;
    }

    .navLogo{
        margin-left: 90px;
    }

    .heroHelper{
        bottom: 10px;
    }

    .sectionHeader {
        text-align: center;
        font-size: 30px;
        font-weight: 300;
        min-height: 30px;
    }

    .workCardP{
        width: 92%;
        font-size: 17px;
    }

    .sectionHelper{
        margin: 0;
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		margin: auto;
    }

    .typingAnimation{
	transform: translateY(13px);
    }

    .whoCardSecondary:nth-child(1) {
        margin: 0 0 10px 15px;
    }
    .whoCardSecondary:nth-child(2) {
        margin: 10px 0 0 15px;
    }
}