@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
	--fontWhite: #cacaca;
	--fontBlack: #312f2f;
	--boxBg: rgba(20, 19, 19, 0.46);
	--blueText: #0ca8eb;
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
	margin-top: 58px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--fontWhite);
	border-radius: 20px;
	width: 2px;
}

::-webkit-scrollbar-button {
	visibility: hidden;
	height: 0px;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Nunito, sans-serif;
	color: var(--fontWhite);
	max-width: 100%;
	/* overflow: hidden; */
}
body {
	background-color: #060606;
}

/* HEADER */

header {
	height: 45px;
	background-color: rgba(0, 0, 0, 0.658);
	position: fixed;
	top: 0;
	backdrop-filter: blur(8px);
	z-index: 10;
	width: 100vw;
}

.navLogo {
	transition: 0.8s;
}
.navLogo:hover {
	scale: 1.1;
}

.navMobile {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: inherit;
	position: sticky;
}

.navDesktop {
	display: none;
}
.navLogo {
	display: flex;
	text-decoration: none;
	margin-left: 30px;
}

.navLogoKey {
	font-size: 22px;
}
nav ul li {
	transition: 0.5s;
}
nav ul li:hover,
nav ul li a:hover {
	scale: 1.1;
	color: var(--fontWhite);
}
.burgerMenuLine {
	width: 25px;
	height: 2.5px;
	border-radius: 0.1px;
	background-color: var(--fontWhite);
	margin: 2px 0;
	z-index: 1001 !important;
}

.bmline2 {
	width: 15px;
	height: 2.5px;
}

.spacing {
	height: 250px;
}
.hero {
	height: 100vh;
	/* background: rgb(6,6,6);
background: linear-gradient(0deg, rgba(6,6,6,1) 0%, rgba(19,32,57,1) 100%); */
}

.navMobileBurgerMenu {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 30px;
}

.whoP {
	line-height: 23px;
}

.navActive {
	width: 300px;
	height: 450px;
	background-color: #0f1117;
	z-index: 100 !important;
	position: absolute;

	right: 0;
	/* border-radius: 50px 0 0px 50px; */
	
	display: none;
}

.display {
	display: block;
}

.navActiveUl {
	margin: 70px 30px;
}

.navActiveLi {
	list-style: none;
	margin: 10px 0;
}

.navActiveLi a {
	color: #bcbcbc;
	text-decoration: none;
	font-size: 20px;
}

.navContactImg {
	margin: 60px 15px;
}

.navSocials {
	display: flex;
	justify-content: center;
}

.displayNone {
	display: none !important;
}

a {
	cursor: pointer;
}

.socialsAnchor {
	text-decoration: none;
	margin: 0 !important;
}

/* HERO */

.hero {
	padding-top: 50px;
}

.typingAnimation {
	display: inline-block;
	opacity: 1;
	animation: blink 1s linear infinite;
	width: 6px;
	height: 40px;
	margin-left: 5px;
	background-color: #0ca8eb;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.heroText {
	display: flex;
	flex-direction: column;
	margin-top: 40px;
	align-items: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%, -50%);
}

.heroHeader {
	font-size: 25px;
	font-weight: 600;
	color: var(--blueText);
	margin-bottom: 5px;
}

.heroHeaderWrapper {
	display: flex;
}

.heroSubHeader {
	font-size: 20px;
	font-weight: 500;
}

/* .canvasWrapper {
	display: flex;
	justify-content: center;
	margin-top: 30px;
} */
.heroText {
}
/* canvas {
	width: 200px;
	height: 250px;
	background-color: white;
} */

.heroHelper {
	display: flex;
	justify-content: center;
	margin-top: 55px;
}

/* SECTION */

.sectionHeader {
	font-size: 20px;
	text-align: center;
	font-weight: 400;
	max-width: 291px;
}

.sectionHeaderWrapper {
	display: flex;
	justify-content: center;
}

.sectionHelper {
	display: flex;
	justify-content: center;
}
/* WORK SECTION */

.workCard {
	height: 250px;
	background-color: #0f1117;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 275px;
	margin: 20px 0;
	padding: 20px 0;
	position: relative;
	cursor: pointer;
}
.line {
	position: absolute;
	width: 100%;
	height: 2px;
	background: #df850f;
	top: 0px;
}

.workCardLI {
	padding: 1px 10px;
	color: #df850f;
	border: 1px solid #df850f;
	border-radius: 10px;
	font-size: 15px;
}

.workCardP {
	text-align: center;
	width: 95%;
}

.workCards {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.workCardUL {
	display: flex;
	list-style: none;
	gap: 10px;
	flex-wrap: wrap;
	justify-content: center;
}

.workCardTechWrapper {
	max-width: 95%;
}

.line1 {
	background-color: #d20fdf;
}
.cardHeader1 {
	color: #d20fdf !important;
}
.workCardLI1 {
	color: #d20fdf !important;
	border: 1px solid #d20fdf !important;
}

.line2 {
	background-color: #5bdf0f;
}
.cardHeader2 {
	color: #5bdf0f !important;
}
.workCardLI2 {
	color: #5bdf0f !important;
	border: 1px solid #5bdf0f !important;
}

.line3 {
	background-color: #0fd9df;
}
.cardHeader3 {
	color: #0fd9df !important;
}
.workCardLI3 {
	color: #0fd9df !important;
	border: 1px solid #0fd9df !important;
}

.cardHeader {
	color: #df850f;
	font-size: 18px;
	text-align: center;
	font-weight: 600;
}

.cardButtons {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 25px 0;
}

.cardButton {
	width: 160px;
	height: 28px;
	text-align: center;
	color: var(--fontBlack);
	background: var(--fontWhite);
	border-radius: 15px;
	font-size: 20px;
	cursor: pointer;
	margin: 5px 0;
	text-decoration: none;
}

.cardTech {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cardSubHeader {
	border-bottom: 1px solid #707070;
	font-size: 20px;
}

.cardUL {
	display: flex;
}

.cardLi {
	list-style: none;
}

.cardLiCol {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 5px 10px;
}

/* WHO */

.whoCardHeader {
	color: #bcbcbc;
	text-align: center;
	font-size: 30px;
}

.whoLine {
	position: absolute;
	width: 100%;
	height: 2px;
	background: linear-gradient(0.25turn, #a9650f, #9f0dab, #5bdf0f, #0ec8cd);
	top: 0px;
}

.hexagon {
	width: 60px;
	height: 66px;
}

.whoCardRow {
	display: flex;
	width: 90%;
}
.whoCardSkillP {
	text-align: center;
	transform: translateY(-10px);
}
.whoCardSkills {
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.whoCard {
	height: 375px;
	background-color: #0f1117;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 280px;
	margin: 20px 0;
	padding: 20px 0;
	position: relative;
	transition: width 0.8s, height 0.8s !important;
}
.whoCard:nth-child(2),
.whoCard:nth-child(3) {
	height: 300px;
}

.whoCardSkill {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.whoCardSkillImg {
	width: 80%;
}
.whoTextSpan {
	color: #497c90;
	font-size: 9px;
	font-weight: bold;
}

.whoTextWrapper,
.whoTextWrapperClicked {
	opacity: 1;
	transition: opacity 0.5s;
}

.whoTextWrapperOpacity {
	opacity: 0;
	transition: opacity 0.5s;
}

.whoCardAfter {
	width: 100%;
	height: 600px !important;
	transition: 0.8s !important;
}
.whoTextWrapperClicked {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
}

.whoCardPAfter {
	width: 95%;
}
.whoCards {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.whoCardBody {
}

.whoP {
	width: 95%;
	margin: 6px 0 0 10px;
}

.whoCardLI {
	list-style-type: disc;
	font-size: 15px;
	margin: 6px 0px 6px 20px;
}

.whoCardUL {
	margin: 20px 0;
}

.whoCardButton {
	padding: 5px 30px;
	background-color: transparent;
	border: 1px solid #bcbcbc;
	border-radius: 5px;
	cursor: pointer;
}

.whoCardSecondary {
	width: 290px;
	height: 250px;
	background-color: var(--boxBg);
	margin: 25px 0;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.whoCardSecondaryHeader {
	font-size: 20px;
	border-bottom: 1px solid #707070;
	width: fit-content;
	margin: 25px 0 15px 0;
}

.whoCardImgWrapper {
	display: flex;
	flex-direction: column;
}

.whoRowWrapper {
	display: flex;
	justify-content: space-around;
	margin: 10px 0;
}

.whoItem {
	margin: 0 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

/* CONTACT */

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contactCards {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 275px;
	background-color: #0f1117;
	margin: 25px 0;
	position: relative;
	padding: 25px 0;
}

.contactCard {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.contactHeader {
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
}

.contactP {
	width: 90%;
	margin: 0 0 20px 0;
	font-size: 16px;
}

.contactH {
	margin-bottom: 20px;
	font-size: 30px;
}

.contactSubheader {
	font-size: 20px;
	margin: 5px 0 10px 0;
}

/* .contactSocials{
    display: flex;
} */

.contactImg {
	margin: 0 10px;
	width: 40px;
}

.contactForm {
	display: flex;
	justify-content: center;
}

.contactFormInWrapper {
	display: flex;
	flex-direction: column;
}

input {
	width: 250px;
	height: 30px;
	background: rgba(25, 29, 38, 0.5);
	color: #312f2f;
	padding-left: 10px;
	font-size: 17px;
	border: none;
}

input[type='button'] {
	width: 120px;
	height: 40px;
	border-radius: 5px;
	color: #bcbcbc;
	border: 1px solid #bcbcbc;
	font-size: 20px;
	margin-top: 25px;
	padding-left: 0;
	cursor: pointer;
}

textarea {
	width: 250px;
	height: 120px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 17px;
	border: none;
	resize: none;
	background: rgba(25, 29, 38, 0.5);
	color: #312f2f;
}

label {
	font-size: 20px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

/* FOOTER */
footer {
	height: 220px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: rgb(15, 17, 23);
}

.footerDesktop {
	justify-content: space-between;
	display: none;
}

.footerDesktop a {
	margin-left: 30px;
}
.footerDesktop .footerWrapper {
	margin-right: 30px;
}

.footerWrapper {
	display: flex;
}

.footerLine {
	width: 0.5px;
	margin-right: 20px;
	background-color: var(--fontWhite);
}

.footerLogo {
	display: flex;
	text-decoration: none;
}

.footerImg {
	width: 30px;
	height: 30px;
	margin: 0 5px;
}

.footerLogoKey {
	font-size: 20px;
}

.footerUl {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

.footerLi a {
	text-decoration: none;
	margin: 2px 10px;
	color: #818181;
}

.footerLiWrapper {
	display: flex;
}

/* Project page */

.projectCards {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.projectCard {
	width: 310px;
	margin: 0 0 70px 0;
}
.projectCardTop {
	height: 45px;
	width: inherit;
	background-color: var(--fontWhite);
	border-radius: 15px 15px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.projectCardBody {
	background-color: var(--boxBg);
	width: inherit;
	min-height: 250px;
	height: fit-content;
	border-radius: 0 0 15px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projectP {
	margin: 6px 0;
	width: 95%;
	font-size: 15px;
}

.projectHeader {
	margin: 20px 0 0 0;
}

.projectImg {
	margin: 20px 0;
	width: 100%;
}

.projectSpacing {
	height: 50px;
}

.projectSection {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projectUl {
	margin-left: -120px;
}

.who,
.work,
.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
	.hero,
	.who,
	.work,
	.contact {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.navMobile {
		display: none;
	}

	.whoCardHeader {
		font-size: 28px;
		font-weight: 600;
	}

	.workCards,
	.whoCards {
		padding-bottom: 40px;
	}

	.footerDesktop {
		display: flex;
		height: 60px;
		flex-direction: row;
		width: 100vw;
	}

	.footerMobile {
		display: none;
	}

	.navDesktop {
		display: flex;
		height: inherit;
		align-items: center;
		justify-content: space-between;
	}

	.navDesktopUl {
		display: flex;
		list-style: none;
		margin-right: 30px;
	}

	.navDesktopLi a {
		text-decoration: none;
		margin: 0 10px;
		color: #818181;
	}

	.canvasWrapper {
		margin-top: 0;
	}

	.heroWrapper {
		display: flex;
		justify-content: center;
	}

	.heroHelper {
		margin: 0;
		position: absolute;
		bottom: 40px;
		left: 0;
		right: 0;
		margin: auto;
	}

	.heroText {
		margin-top: 0;
		min-width: 405px;
	}

	.workCards {
		flex-direction: row;
		flex-wrap: wrap;
		gap: 20px;
	}

	.workCard {
		margin: 0;
	}

	.sectionHeaderWork,
	.sectionHeaderWho {
		margin-bottom: 10px;
		max-width: fit-content;
	}

	.whoCards {
		flex-direction: row;
		justify-content: center;
		gap: 5px;
	}

	.whoCard:nth-child(1) {
		order: 2;
		height: 400px;
		width: 280px;
	}
	.whoCard:nth-child(2) {
		order: 1;
		height: 280px;
		width: 240px;
	}
	.whoCard:nth-child(3) {
		order: 3;
		height: 280px;
		width: 240px;
	}

	.whoCard {
		/* margin: 10px 0 10px 10px; */
		height: 450px;
		/* width: 250px; */
		/* transition: width 0.8s !important; */
	}

	.whoCardAfter {
		width: 505px;
		height: fit-content !important;
	}

	.whoCardTextWrapper,
	.whoCardTextWrapperClicked {
		height: 320px;
	}

	.contactCards {
		/* flex-direction: row; */
		justify-content: center;
		width: 90%;
	}
	.contactWrapper {
		display: flex;
		gap: 10px;
	}

	.contactForm {
		width: 320px;
		height: 370px;
		margin-left: 5px;
	}

	.contactCard {
		width: 320px;
		height: 370px;
		margin-right: 5px;
	}

	.contactSubheader {
		margin-top: 50px;
	}

	input,
	textarea {
		width: 280px;
	}

	.heroText {
		align-items: initial;
	}

	.heroHeader {
		font-size: 30px;
	}

	.heroSubHeader {
		font-size: 25px;
	}

	.sectionHelper {
		margin: 0;
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		margin: auto;
	}
}

@media screen and (min-width: 1024px) {
	.heroHeader {
		font-size: 35px;
	}

	.heroSubHeader {
		font-size: 30px;
		line-height: 30px;
	}

	.heroText {
		min-width: 515px;
	}
	.whoCardHeader {
		font-size: 30px;
		font-weight: 600;
	}

	.whoCardAfter {
		width: 550px !important;
		height: 500px !important;
		transition: 0.8s !important;
	}
	.sectionHeaderWork,
	.sectionHeaderWho {
		margin: 10px 0 20px 0;
	}

	.contactCards {
		width: 70%;
	}

	.whoCards {
		gap: 20px;
	}

	.cardHeader {
		font-size: 18px;
	}

	.workCard {
		width: 340px;
	}

	.whoCard {
		margin: 0;
	}
	.projectRow {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 50px;
		align-items: center;
	}
	.projectImg {
		width: 40% !important;
	}
	.projectDesc {
		width: 30% !important;
	}
	.projectWrapper {
		gap: 0 !important;
	}
	.projectNav {
		margin-left: 65px !important;
	}
}

@media screen and (min-width: 1440px) {
	.contactWrapper {
		gap: 30px;
	}

	.whoCardButton {
		margin-bottom: 20px;
		font-size: 20px;
	}

	.workCards {
		width: 80%;
	}
	.heroHeader {
		font-size: 45px;
	}

	.whoCard:nth-child(3) {
		width: 280px;
		height: 300px;
	}
	.whoCard:nth-child(2) {
		width: 280px;
		height: 300px;
	}

	.whoCard:nth-child(1) {
		order: 2;
		height: 440px;
		width: 320px;
	}

	.whoCards {
		gap: 30px;
	}

	.contactCards {
		width: 800px;
	}

	.whoCardLI {
		font-size: 16px;
		letter-spacing: 1px;
	}

	.whoCardAfter {
		width: 600px;
	}

	.heroText {
		margin-right: calc(20px + 5vw);
	}

	main {
		scroll-padding-top: 20px;
	}

	.cardLi {
		font-size: 18px;
	}

	.workCard {
		width: 420px;
	}
	.heroSubHeader {
		font-size: 40px;
		font-weight: 500;
		line-height: 40px;
	}

	.whoCardHeader {
		font-size: 26px;
		font-weight: 600;
	}
	header {
		height: 58px;
	}

	.navDesktopLi a {
		font-size: 22px;
		margin: 0 17.5px;
	}

	.navLogoKey {
		font-size: 35px;
	}

	.navLogo {
		margin-left: 90px;
	}

	.heroHelper {
		bottom: 10px;
	}

	.sectionHeader {
		text-align: center;
		font-size: 30px;
		font-weight: 300;
		min-height: 30px;
	}

	.workCardP {
		width: 92%;
		font-size: 17px;
	}

	.sectionHelper {
		margin: 0;
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		margin: auto;
	}

	.typingAnimation {
		transform: translateY(13px);
	}

	.whoCardSecondary:nth-child(1) {
		margin: 0 0 10px 15px;
	}
	.whoCardSecondary:nth-child(2) {
		margin: 10px 0 0 15px;
	}
}

.projectRow {
	/* display: flex; */
}
.projectNav {
	margin-top: 90px;
	display: flex;
	gap: 5px;
	margin-left: 20px;
}
.projectP {
	margin: 15px 0;
}
.projectDesc {
	margin-left: 10px;
}
.projectNavLI {
	list-style-type: none;
}
.projectType {
	color: #d20fdf;
}

.projectImg {
	margin-top: 40px;
	width: 100%;
}
.projectWrapper {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	gap: 100px;
}



/* 2048 game*/
.playgroundMain{
	display: flex;
	align-items: center;
	justify-content: center;
}

.game2048{
	margin-top: 80px;
	padding: 10px;
	background-color: #bcbcbc;
	display: grid;
	justify-content: center;
	grid-template-columns: 80px 80px 80px 80px;
	gap: 10px;
}

.cell{
	width: 80px;
	height: 80px;
	background-color: #707070;
}